# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\10090\Desktop\lecture\2406\Lum 2020 SP53 Programming 3 - Traffic-Simulator Task-1 Solution\Traffic-Simulator-1.0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
